body {
  background-color: rgb(31, 31, 31);
}
.card-body {
  color: antiquewhite;
  background-color: rgb(31, 31, 31);
}
.header > h1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 5rem;
  font-family: Game of Thrones;
  color: antiquewhite;
}
.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 5px solid white; */
  width: 48%;
  margin-top: 100px; 
}
.btnD {
  border-radius: 20px;
  background-color: rgb(196, 19, 19);
}

#filterButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  
}
.alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Show {
  padding: 2%;
}
.StateYourName {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: antiquewhite;
  margin-top: 2rem;
 
}
.inputName {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin-top: 10px;
}
.SortButton {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  margin-top: 10px;
}
.container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex;
  justify-content: center;
  border: 1px solid rgb(237, 253, 255);
  
  
  background-color: rgb(117, 178, 209);
}
.entireFlow {
  display: flex;
  justify-content: space-between;
  height: 1000px;;
}
.Wall {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 48%;
  
}
.mb-3{
  display: flex;
  flex-direction: row;
  width: 50%;
}
.mb-4{
  display: flex;
  flex-direction: row;
  width: 50%;
}
.btn-primary{
  display: flex;
  
  justify-content: center;
  padding: 1%;
  width: 25%;
  border-radius: 10px;

}
