.header {
  background-color: aquamarine;
}
.mb-3{
  display: flex;
  flex-direction: row;
  width: 50%;
}
.mb-4{
  display: flex;
  flex-direction: row;
  width: 50%;
}
.blue-card {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 25%;
  background-color: aquamarine;
}
